*{
    font-family: 'Poppins', sans-serif;
}
.container {
     width: 60%;
     height: 500px;
     margin-top: 50px;
     background-size: cover;
 } 
 
 .navbar {
     width: 213vh;
     height: 80px;
     box-shadow: 2px 2px 12px rgb(255, 255, 255);
     font-family: 'Poppins', sans-serif;
     font-size: 25px;
     font-weight: 700;
     display: flex;
     align-items: center;
     padding-left: 4%;
     background-color: #1E5128;
     margin-top: -8px;
     margin-left: -8px;
     margin-right: -5px;
 }
 
 .navbar img {
     width: 45px;
     height: 40px;
     border-radius: 70px;
 }
 
 .navbar p {
     color: white;
     display: flex;
     right: 2%;
     padding-left: 10px;
 }

 .navbar a {
     text-decoration: none;
 }
 
 .nav-link {
     display: flex;
     width: 250px;
     column-gap: 30px;
     position: absolute;
     font-weight: 400;
     margin-left: 140vh;
     font-size: 20px;
 }

 
 
 .nav-link a{
     color: white;
     margin-left: 20px;
     width: 20px;
     font-weight: 500;
     font-size: 17px;
 }
 
 .about {
     width: 80%;
     margin-left: 140px;
     margin-top: 50px;
     margin-bottom: 100px;
     position: relative;
     display: flex;
     column-gap: 10px;
     align-items: center;
     font-size: 27px;
    color: #909090;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

 }

 .text-about {
     font-family: 'Poppins', sans-serif;
     color: #1E5128;
 }

 .judul {
     font-size: 20px;
     font-weight: 600;
     color: #909090;
 }

 .order {
     background-color: #D0AD4B;
     width: 75px;
     height: 50px;
     border: 1px solid #D0AD4B;
     font-family: 'Poppins', sans-serif;
     color: #FFFFFF;
     font-size: 18px;
     border-radius: 10px;
     font-weight: 600;
     
    
 }
 
 .about img {
     height: 300px;
     margin: 30px;
 } 

 .container1 {
     display: flex;
     column-gap: 20px;
     background-color: #1E5128;
     padding-top: 40px;
     padding-left: 5px;
     width: 400px;
     height: 170px;
     border-radius: 15px;
 }
 .container1 img{
    margin-left: 18px;
 }
 .container1 h3{
    position: absolute;
    margin-left: 170px;
 }
 .container1 p{
    position: absolute;
    margin-top: 50px;
    margin-left: 170px;
 }
 .container1 button {
    position: absolute;
    margin-top: 80px;
    margin-left: 170px;
   
}

 .container2 {
     display: flex;
     column-gap: 20px;
     background-color: #D0AD4B;
     padding-top: 40px;
     padding-left: 5px;
     width: 400px;
     height: 170px;
     border-radius: 15px;
 }

 .container2 img{
    margin-left: 18px;
 }
 .container2 h3{
    position: absolute;
    margin-left: 170px;
 }
 .container2 p{
    position: absolute;
    margin-top: 50px;
    margin-left: 170px;
 }
 .container2 button {
    position: absolute;
    margin-top: 80px;
    margin-left: 170px;
   
}

 .container3 {
     display: flex;
     column-gap: 20px;
     background-color: #1E5128;
     padding-top: 40px;
     padding-left: 5px;
     width: 400px;
     height: 170px;
     border-radius: 15px;
 }

 .container3 img{
    margin-left: 18px;
 }
 .container3 h3{
    position: absolute;
    margin-left: 170px;
 }
 .container3 p{
    position: absolute;
    margin-top: 50px;
    margin-left: 170px;
 }
 .container3 button {
    position: absolute;
    margin-top: 80px;
    margin-left: 170px;
   
}

.deskripsi {
     font-weight: 600;
     font-size: 13px;
     font-family: 'Poppins', sans-serif;
     margin-top: 8px;
}

.deskripi1 {
     font-weight: 400;
     font-size: 10px;
     font-family: 'Poppins', sans-serif;
}

 .box1 img {
     height: 130px;
     margin-top: 2px;
     margin-left: 15px;
 }

 .box2 img {
    height: 130px;
    margin-top: 2px;
    margin-left: 15px;
}

.box3 img {
    height: 130px;
    margin-top: 2px;
    margin-left: 15px;
}

.about p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    width: 520px;
    position: absolute;
    margin-top: 140px;
    margin-left: 69vh;
    color: #909090;
    font-weight: 400;
    font-size: 16px;
}
 #menu{
    width: 300vh; 
     display: flex;
     column-gap: 30px;
     font-family: 'Poppins', sans-serif;
     font-size: 10px;
     color: #FFFFFF;
     margin-left: 30px;
     margin-top: 150px;
     margin-bottom: 100px;
 }


 .order1 {
     background-color: #056839;
     width: 80px;
     height: 55px;
     border: 1px solid #056839;
     font-family: 'Poppins', sans-serif;
     color: #FFFFFF;
     font-size: 18px;
     border-radius: 10px;
     font-weight: 600;
     margin-left: -4px;
 }

 #tblh{
    position: absolute;
    margin-top: -29vh;
    margin-left: 91vh;
    
 }

 .order a {
    text-decoration: none;
    color: #FFFFFF;
 }

 .order1 a {
    text-decoration: none;
    color: #FFFFFF;
 }

 .material-symbols-outlined {
    color: #D0AD4B;
 }
 .garis span {
    color: #D0AD4B;
    margin-top: 10px;
    margin-left: 210px;
 }

 .about span{
    font-size: 40px;
 }

 /* footer */

.header {
    margin-top: -200px;
    display: flex;
    column-gap: 100px;
    padding-left: 280px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #1B1A17;
    width: 80%;
    margin-left: -8px;
    margin-bottom: -5px;
    color: #FFFFFF;
    border-radius: 5px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: black;
    background-color: white;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}


.aboutus{
    height: 100vh;
    margin-top: 180px;
    margin-bottom: 20px;
}
.judul{
    width: 190px;
    height: 40px;
     display: flex;
    justify-content: center;
}

.judul h3{
    margin-top: 15px;
    color: #D0AD4B;
    font-size: 20px;
    font-weight: 400;
}
.judul span{
    
    font-size: 60px;
    color: #D0AD4B;
    font-weight: 300;
}

.tengahkiri{
    margin-left: 65px;
    width: 100vh;
    height: 50vhx;
     display: flex;
     flex-direction: column;
    justify-content: center;
}
.tengahkiri h1{
    color: #1E5128;
}


.tengahkanan{
    margin-left: 134vh;
    margin-top: -62vh;
}