*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.menubar{
    width: 100%;
    height: 70px;
    background-color:#1E5128;
    display: flex;

}
.logo h1{
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
}
.logo img{
    border-radius: 50%;
    padding: 4px;
    margin-top: -40px;
    margin-left: -60px;
}


.container{
    width: 90%;
    height: 75px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.container .logo{
    color: white;
}

.container .menu{
    display: flex;
    margin-top: 10px;
}

.container .menu ul{
    display: flex;
    color: white;
    
}

.container .menu li{
    list-style-type: none;
}

.container .menu li a{
    text-decoration: none;color: white;
    padding: 10px 9px 10px 9px;
}

.container .menu li a{
    font-size: 17px;
    font-weight: 600;
}

.ubah h1{
    margin-bottom: 20px;
    font-size: 25px;
    margin-left: 80px;
    padding-top: 40px;
    color: #1E1A1A;
}
hr{
    width: 90%;
    margin: auto;
    color: #D0AD4B;
}

form{
    margin-top: 40px;
    margin-left: 45px;
    border: none;
    justify-content: space-between;
    width: 80%;
   
      
 }

 .submit{
    background-color:  #1E5128;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    padding: 10px 26px;
    margin-top: -50px;
    position: absolute;
    margin-left: 16vh;
   
}
.p{
    font-size: 17px;
    color: #998f8f;
}

.input{
    background-color: #ffffff;
    height: 50px;
    width: 500px;
    border-radius: 3px;
    border: 1px solid #e4e1e1;
   margin-bottom: 20px;
    
}
.kanankiri{
    display: flex;
}

.kiri{
    margin-left: 60px;
   
}

.kanan{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.message{
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.message .success{
    font-size: 15px;
    font-weight: 500;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none ;
}


.message .danger{
    font-size: 15px;
    font-weight: 500;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
   
}

@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}


